<style type="text/css">
     .article{min-height:300px;}
       .article_content canvas{width:492px;min-height:400px;background:#fff url("images/loading.gif") center center no-repeat; background-size:15px auto; margin-top:15px;margin-bottom:15px;}
    .article_content a{color:blue;text-decoration:underline;}  
 .article_content h1, .article_content h2, .article_content h3, .article_content h4, .article_content h5, .article_content h6{margin-bottom:10px;background:#ebebeb;margin-top:10px;color:#111111;}
    .article_content p:nth-child(2n+1){padding:2px;margin-top:10px;margin-bottom:10px;background:rgba(109, 220, 210, 0.61);border-radius:2px;}
    .article_content p:nth-child(2n){padding:2px;margin-top:10px;margin-bottom:10px;background:pink;border-radius:2px;}
    .pagebtn{border:1px solid #000000; box-shadow:0 0 3px #000;background: linear-gradient(#fff,#eee);color:#111;padding:3px 5px;border-radius:4px;margin-left:20px;}
    .pagebtn:hover{box-shadow:0 0 8px #333;background: linear-gradient(#fff,#d0e5f2);}
</style>
<head-bar></head-bar>
<div class="contain">
<div class="blog_container">
<div class="header_wrapper">
    <h1 class="user" id="blogTitle"></h1>
    <p class="signature" id="blogDes"></p>
    <ul>
        <li><a ui-sref="blog({name:&#39;{{userName}}&#39;})" id="on" style="cursor:pointer;">首页</a></li>
        <li><a ui-sref="log({name:&#39;{{userName}}&#39;})"   style="cursor:pointer;">日志</a></li>
        <li><a ui-sref="photos({name:&#39;{{userName}}&#39;})"  style="cursor:pointer;">相册</a></li>
        <li><a ui-sref="myVideo({name:&#39;{{userName}}&#39;,videoUrl:'default',videoType:'default'})" style="cursor:pointer;">视频</a></li>
        <li><a ui-sref="fDynamic({name:&#39;{{userName}}&#39;})"   style="cursor:pointer;">博友动态</a></li>
        <li><a ui-sref="showInfo({name:&#39;{{userName}}&#39;})"   style="cursor:pointer;">关于我</a></li>
    </ul>
</div>
<div class="body_wrapper">
    <div class="blog_dynamic">
        <ul id="article_list" style="overflow:hidden;">
            <li ng-show="no_article"><div style="width:670px;height:600px;margin-top:10px;border:1px dashed #e5e5e5;"><p style="color:#565656;margin:0 auto;margin-top:120px;width:450px;">这里一篇文章也没有，赶快去关注一些你感兴趣的人吧！</p></div></li>
        </ul>
  <div ng-show="pageShow" style="width:180px;margin:0 auto;"><button ng-click="prePage()" class="pagebtn">上一页</button><button ng-click="nextPage()" class="pagebtn">下一页</button></div>
        <p class="noMore" style="color:#ccc;" ng-show="noMore_show" >没有更多了</p>
    </div>
    <div class="blog_r" id="blog_right">
    <my-info></my-info>
        <post-types></post-types>
        <top-list></top-list>
    </div>
</div>
</div>
<div class="foot_wrapper">
    <div class="footer1">
        <p><a  style="cursor:pointer;">我的照片书</a> </p><p><a  style="cursor:pointer;">博客风格</a></p><p><a  style="cursor:pointer;">手机博客</a></p><p><a  style="cursor:pointer;">下载LOFTER APP</a> </p><p><a  style="cursor:pointer;">订阅此博客</a></p>
    </div>
    <div class="footer2">yblog版权所有 ©1997-2017</div>
</div>
</div>
