<div id="head_bar" style="height:30px;background:#f8f8f8;position:fixed;line-height:27px;top:0;z-index:199;font-size:12px;width:100%;">
    <a href='' ui-sref="home.headline" target="_blank"><span id='home_btn'  style='padding:10px 5px;color:#a9a9a9;font-weight:bold;margin-left:30px;' ng-click="toHome()">易博客首页</span></a>
    <span id="login_tip" style="font-size:12px;color:#b0b0b0;">游客，<a ui-sref="home.headline" target="_blank" style="color:#ffdf38;cursor:pointer;font-size:12px;text-decoration:underline;">去登录</a></span>
    <span ng-click="logout()" id="logout_btn" style="float:right;margin-right:30px;padding:1px 5px;"><b style="cursor:pointer;color:#c9cdda;text-decoration:underline;" href="">退出</b></span>
    <a id="mySet" style="color:#b3b3b3;float:right;margin-right:30px;padding:1px 5px;cursor:pointer;"></a>
    <a id="myMessages"></a>
   </div>